<!--begin::Modal-->
<div class="modal fade" id="modal_check_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          계정 삭제
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <form class="m-form m-form--fit" #blockMonitorModalForm="ngForm">
        <!-- m-form--label-align-right -->
        <div class="modal-body">
          [{{selectedId}}] 계정을 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary m-btn m-btn--air" (click)="confirm()" title="확인">
            삭제
          </button>
          <button type="button" #btnModalClose class="btn btn-secondary m-btn m-btn--air" data-dismiss="modal" title="취소">
            취소
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--end::Modal-->
