<style>  
  .table-width-200 > .th-inner{
        width: 200px;
    } 
  .table-width-150 > .th-inner{
      width: 150px;
  } 
</style>

<div class="modal modal-center fade" id="modal_dash_detect" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
  <div class="modal-dialog modal-lg modal-center" role="document">
    <div class="modal-content modal-80size">
        <div class="modal-body">
            <div class="small-box bg-aqua alert alert-dismissible">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            <h3 id="detectTestCount">0<sup style="font-size: 20px">건</sup></h3> 탐지 검증 완료하였습니다<br/>
          <div class="icon">
            <i class="ion ion-ios-folder"></i>
          </div>
        </div>
          
        <div class="box" style="border:none;">
        <div class="" id="toolbar-detect">
          <div class="btn-group pull-left">
                <div class="input-group input-group-md" style="width: 170px;  margin-right: 5px;">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-flat" id="btnDetectPrev" title="이전" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    </div>
                    <input type="text" class="form-control datepicker" id="date-detect-log" style="text-align:center;">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-flat" id="btnDetectNext" title="다음" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </span>
                </div>
            </div>
              <!-- <button type="button" class="btn btn-default btn-sm" onclick="refreshLog();" title="새로고침" data-toggle="tooltip" data-container="body"><i class="fa fa-refresh"></i></button> -->
              <!-- /.btn-group -->
          </div>  
          <!-- /.btn-group -->

          <table class="table table_1 table-hover table-striped"
          id="tblDashDetectLog"
          data-toolbar="#toolbar-detect"
          data-width="100%"
          data-toggle="table"
          data-striped="true"
          data-pagination ="true"
          data-page-size="100"
          data-page-list="[10, 20, 30, 50, 100, 500, 1000]"
          data-locale="ko-KR"
          data-search="true"
          data-filter-control="true" 
          data-filter-show-clear="true"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-columns="true"
          data-show-export="true"
          data-escape="false"
          data-search-align="left"
          data-buttons-align="left">
          <thead>
              <tr>
                  <th data-field="test_code"
                      data-align="center"
                      data-width="200"
                      data-valign="middle"
                      data-filter-control="input"
                      class="table-width-200">수행번호</th>                                                        
                  <th data-field="type"
                      data-align="center"
                      data-formatter="fConvertDetectType"
                      data-valign="middle"
                      data-width="200"
                      data-filter-control="select"
                      class="table-width-150">유형</th>                                                        
                  <th data-field="category"
                      data-align="center"
                      data-width="150"
                      data-formatter="fConvertCategory"
                      data-valign="middle"
                      data-filter-control="select"
                      class="table-width-150">카테고리</th>                                                 
                  <th data-field="version"
                      data-align="center"
                      data-valign="middle"
                      data-filter-control="select"
                      class="table-width-150">버전</th>
                  <th data-field="backtraffic"
                      data-align="center"
                      data-formatter="fConvertDetectBacktraffic"
                      data-valign="middle">백트래픽</th>
                  <th data-field="interval"
                      data-align="center"
                      data-valign="middle"
                      data-filter-control="input">측정 시간</th>
                  <th data-field="comment"
                      data-align="left"
                      data-formatter="fConvertNull"
                      data-valign="middle"
                      data-filter-control="input">설명</th>                                                
              </tr>
          </thead>
      </table>
      
      <div class="overlay" id="overlay-dash-detect">
          <i class="fa fa-spinner fa-spin"></i>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/foot') -%>
  <script>
    var detectTestCount = 0;
    //setting buttons over table
    $('#date-detect-log').datepicker({
        format: 'yyyy.mm.dd',
        todayBtn: true,
        todayHighlight: true
    });
    $('#date-detect-log').datepicker('update', moment().format('YYYY.MM.DD'));
    
    $('#date-detect-log').on('change', function() {
        ivsGetDetectList();
    });
    $('#btnDetectPrev').click(function() {
        var datetime = moment($('#date-detect-log').val(), 'YYYY.MM.DD').add(-1, 'day');
        $('#date-detect-log').datepicker('update', datetime.format('YYYY.MM.DD'));
        ivsGetDetectList();
    });
    $('#btnDetectNext').click(function() {
        var datetime = moment($('#date-detect-log').val(), 'YYYY.MM.DD').add(1, 'day');
        $('#date-detect-log').datepicker('update', datetime.format('YYYY.MM.DD'));
        ivsGetDetectList();
    });

    $('#tblDashDetectLog').bootstrapTable('refresh', { url: '/api/detects/detect/ivs_get_detect_list' });


    // ============================================================================
    function ivsGetDetectList() {
      var param = {
          date: $('#date-detect-log').val(),
      }

      $.ajax({
          url: '/api/detects/detect/ivs_get_detect_list',           
          method: 'get',
          data: param,
          dataType: 'json',

          beforeSend: function (xhr) {
            $('#overlay-dash-detect').show();
            $('#tblDashDetectLog').bootstrapTable("showLoading");
          },
          success: function (json) {
            if (json.length > 0) {
                var result = json[0].datas;        
                detectTestCount = result.length;                
                $('#detect-box').html('\
                    <h3>'+ detectTestCount +'<sup style="font-size: 20px">건</sup></h3>\
                    <p>탐지 검증</p>\
                    ');   
                $('#detectTestCount').html( detectTestCount+'<sup style="font-size: 20px">건</sup>' );      
                $('#tblDashDetectLog').bootstrapTable("load", result);
            }else{                
                $('#detect-box').html('\
                    <h3><sup style="font-size: 15px">탐지검증 로그 확인 중 오류가 발생했습니다.</sup></h3>\
                    <p>탐지 검증</p>\
                    ');   
            }
                $('#tblDashDetectLog').bootstrapTable("hideLoading");
                $('#overlay-dash-detect').hide();
          },
          error: function (request, status, error) {
            $('#detect-box').html('\
                <h3><sup style="font-size: 15px">탐지검증 로그 확인 중 오류가 발생했습니다.</sup></h3>\
                <p>탐지 검증</p>\
                ');   
          }
      });
  }
  </script>