<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') -%>
</head>
<body class="hold-transition skin-wins sidebar-mini fixed">
    <div class="wrapper">
        <%- include('../partials/main-header') -%>
        <%- include('../partials/main-sidebar') -%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bg_w">
            <!-- Content Header (Page header) -->
            <section class="content-header content_border animated fadeInLeft">
                <h4>
                    감사로그
                    <%# <small>Control panel</small> %>
                </h4>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> 홈</a></li>
                    <li class="active">로그</li>
                    <li class="active">감사로그</li>
                </ol>
            </section>
            <section class="content">
                <%# <div class="row">
                    <div class="col-lg-12 col-xs-12">
                    </div>
                </div> %>
                <div class="row content_border">
                    <div class="col-lg-12 colr-xs-12">
                        <div class="box" style="border:none;" >
                            <div>
                                <div class="box-tools pull-right">
                                    <%# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> %>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="mailbox-controls pd_10">
                                        <button type="button" class="btn btn-default btn-sm" id="btnRefresh" title="새로고침" data-toggle="tooltip" data-container="body"><i class="fa fa-refresh"></i></button>
                                        <div class="btn-group" style='width:150px;'>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-flat" id="btnPrev" title="이전" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                </div>
                                                <input type="text" class="form-control datepicker" id="date">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-flat" id="btnNext" title="다음" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                            </span>
                                            </div>
                                        </div>
                                        <button type="button" class="btn bg-olive btn-sm" id="btnSearch" title="검색" data-toggle="tooltip" data-container="body"><i class="fa fa-search"></i> 검색</button>
                                        <button type="button" class="btn btn-warning btn-sm" id="btnFilterClear" title="필터 초기화" data-toggle="tooltip" data-container="body"><i class="fa fa-trash-o"></i> 필터 초기화</button>
                                        <!-- /.btn-group -->
                                </div>
                                <div class="mailbox-controls pd_10">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control input-sm" placeholder="접속IP" id="userip">
                                        </div>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control input-sm" placeholder="로그타입" id="type">
                                        </div>
                                        <div class="col-xs-4">                                            
                                            <select id="result" class="form-control input-sm">
                                                    <option value="">구분 전체</option>
                                                    <option value="1">페이지 | DUT</option>
                                                    <option value="2">로그인</option>
                                                    <option value="3">검증테스트</option>
                                                    <option value="0">실패</option>
                                                </select>
                                            <input type="text" class="form-control input-sm" placeholder="구분" id="result">
                                        </div>

                                    </div>
                                </div>

                                <div class="table-responsive mailbox-messages">
                                    <table class="table table_1 table-hover table-striped"
                                        id="tblAuditLog"
                                        data-width="100%"
                                        data-toggle="table"
                                        data-striped="true"
                                        data-pagination ="true"
                                        data-page-size="10"
                                        data-page-list="[10, 20, 30, 50, 100, 500, 1000]"
                                        data-locale="ko-KR"
                                        data-show-columns="false"
                                        data-search="false"
                                        data-show-refresh="false"
                                        data-show-toggle="false"
                                        data-show-export="false"
                                        data-smart-display="false"
                                        data-escape="false"
                                        data-checkbox-header="true">
                                        <thead>
                                            <tr>
                                                <th data-field="date"
                                                    data-align="center"
                                                    data-valign="middle">등록일</th>
                                                <th data-field="userid"
                                                    data-align="center"
                                                    data-width="200"
                                                    data-valign="middle">ID</th>
                                                <th data-field="userip"
                                                    data-align="center"
                                                    data-valign="middle">접속IP</th>
                                                <th data-field="type"
                                                    data-align="center"
                                                    data-valign="middle">로그타입</th>
                                                <th data-field="job"
                                                    data-align="center"
                                                    data-valign="middle">작업유형</th>
                                                <th data-field="job_detail"
                                                    data-align="center"
                                                    data-valign="middle">요청</th>
                                                <th data-field="result"
                                                    data-align="center"
                                                    data-valign="middle"
                                                    data-formatter="fAuditResult">구분(테스트 결과)</th>
                                                <th data-field="message"
                                                    data-align="center"
                                                    data-valign="middle">행위(결과메시지)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="overlay" id="overlay">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <%- include('../partials/foot') -%>

    <script>
        GetAuditLog();
        var $btnRefresh = $('#btnRefresh');
        var $btnSearch = $('#btnSearch');
        var $btnFilterClear = $('#btnFilterClear');
        // 새로고침 버튼을 클릭한다.
        $btnRefresh.click(btnRefresh);
        // 검색 버튼을 클릭한다.
        $btnSearch.click(btnSearch);
        // 필터 초기화 버튼을 클릭한다.
        $btnFilterClear.click(btnFilterClear);

        $(function(){
            $('#date').datepicker({
                format: 'yyyy.mm.dd',
                todayBtn: true,
                todayHighlight: true
            });
            $('#date').datepicker('update', moment().format('YYYY.MM.DD'));

            $('#btnPrev').click(function() {
                var datetime = moment($('#date').val(), 'YYYY.MM.DD').add(-1, 'day');
                $('#date').datepicker('update', datetime.format('YYYY.MM.DD'));
                GetAuditLog();
            });
            $('#btnNext').click(function() {
                var datetime = moment($('#date').val(), 'YYYY.MM.DD').add(1, 'day');
                $('#date').datepicker('update', datetime.format('YYYY.MM.DD'));
                GetAuditLog();
            });
        });

        function GetAuditLog() {
            var date = $('#date').val();
            if(date == '') date = dateFormat();

            var param = {
                date : date,
                userip : $('#userip').val(),
                type : $('#type').val(),
                result : $('#result').val(),

            };
            $.ajax({
                url: '/api/logs/audit_log',
                method: 'get',
                data: param,
                dataType:'json',
                beforeSend: function (xhr) {
                    $('#tblAuditLog').bootstrapTable("showLoading");
                    $('#overlay').show();
                },
                success: function (json) {
                    if (json.length > 0) {
                        var result = json[0].datas;
                        $('#tblAuditLog').bootstrapTable("load", result);
                    }else{
                        $('#tblAuditLog').bootstrapTable("removeAll");
                    }
                    $('#tblAuditLog').bootstrapTable("hideLoading");
                    $('#overlay').hide();
                },
                error: function (request, status, error) {
                    var msg = "code:" + request.status + "\n" + "error:" + error + "\n" + request.responseText;
                    swal("Error", msg, "error");
                }
            });
        }
        // 새로고침 버튼을 클릭한다.
        function btnRefresh() {
            GetAuditLog();
        }
        // 검색 버튼을 클릭한다.
        function btnSearch() {
            GetAuditLog();
        }
        // 필터 초기화 버튼을 클릭한다.
        function btnFilterClear() {

            $('#userip').val('');
            $('#type').val('');
            $('#result').val('');

            GetAuditLog();
        }

        function dateFormat(){
            var date = new Date();

            var year = date.getFullYear();
            var month = (1 + date.getMonth());
            var day = date.getDate();

            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;

            return year+'.'+month+'.'+day;
        }
    </script>
</body>
</html>
