.m-portlet .traffic-monitor-portlet-head {
	height: 3rem;
}

.m-portlet .m-portlet--tabs {
	margin-bottom: 1rem;
}

.m-portlet .m-portlet--full-height {
	margin-bottom: 1.2rem;
}

.m-portlet .m-portlet__body {
	padding: 2rem;
}


