<!-- begin::Quick Sidebar -->
<div id="m_detail_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light" appunwraptag="">
  <div class="m-quick-sidebar__content m--hide">
    <span id="m_detail_sidebar_close" class="m-quick-sidebar__close" #btnDetailSidebarClose>
      <i class="la la-close"></i>
    </span>
    <form class="m-form m-form--fit" #blockLogFilterForm="ngForm">
      <ul id="m_detail_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_detail_sidebar_tabs_blocklog_filter" role="tab">
            차단내역 필터
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active m-scrollable" id="m_detail_sidebar_tabs_blocklog_filter" role="tabpanel">
          <div class="m-list-settings">
            <div class="m-list-settings__group">
              <div class="m-list-settings__heading">
                <span class="m-list-settings__heading-label">
                  정책
                </span>
                <span class="m-list-settings__heading-control">
                  <span class="m-switch m-switch--outline m-switch--icon-check m-switch--success">
                    <label>
                      <input type="checkbox" [checked]="activePolicy" name="" (click)="toggleActivate($event, 'activePolicy')">
                      <span></span>
                    </label>
                  </span>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activePolicy">
                <span class="m-list-settings__item-label">
                  공격유형
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-dropdownlist #ddlCategory id="category" name="category" class="form-control" title="공격유형" [data]="categoryItems" [(ngModel)]="selectedCategory"
                    [valueField]="'value'" [textField]="'text'">
                    <!-- <ng-template kendoComboBoxItemTemplate let-category>
                        {{ category.text }}&nbsp;<small>[{{ category.value }}]</small>
                      </ng-template> -->
                  </kendo-dropdownlist>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activePolicy">
                <span class="m-list-settings__item-label">
                  공격코드
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-numerictextbox #tbSignitureCode id="signature_code" name="signature_code" class="form-control" title="공격코드" placeholder="공격코드"
                    [(ngModel)]="signatureCode" [value]="signatureCode" [min]="0" [max]="59999" [autoCorrect]="true" [format]="'n0'">
                  </kendo-numerictextbox>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activePolicy">
                <span class="m-list-settings__item-label">
                  공격명
                </span>
                <span class="m-list-settings__item-control">
                  <input #tbSignatureName id="signature_name" name="signature_name" class="form-control m-input m-input--air" type="text" title="공격명"
                    placeholder="공격명" [(ngModel)]="signatureName" />
                </span>
              </div>
            </div>
            <div class="m-list-settings__group">
              <div class="m-list-settings__heading">
                <span class="m-list-settings__heading-label">
                  공격자/대상자
                </span>
                <span class="m-list-settings__heading-control">
                  <span class="m-switch m-switch--outline m-switch--icon-check m-switch--success">
                    <label>
                      <input type="checkbox" [checked]="activeIP" name="" (click)="toggleActivate($event, 'activeIP')">
                      <span></span>
                    </label>
                  </span>
                </span>
              </div>
              <!-- <div class="m-list-settings__item" *ngIf="activeIP">
                <span class="m-list-settings__item-label">
                  검색조건
                </span>
                <span class="m-list-settings__item-control">
                  <div class="m-radio-inline">
                    <label class="m-radio m-radio--solid">
                      <input name="filter_type" type="radio" [value]="1" [(ngModel)]="ipFilterType" /> AND
                      <span></span>
                    </label>
                    <label class="m-radio m-radio--solid">
                      <input name="filter_type" type="radio" [value]="2" [(ngModel)]="ipFilterType" /> OR
                      <span></span>
                    </label>
                  </div>
                </span>
              </div> -->
              <div class="m-list-settings__item" *ngIf="activeIP">
                <span class="m-list-settings__item-label">
                  공격자
                </span>
                <span class="m-list-settings__item-control">
                  <input #tbHackerIp id="hip" name="hip" class="form-control m-input m-input--air" type="text" title="공격자 IP" placeholder="IP Address"
                    [(ngModel)]="hip" />
                  <kendo-numerictextbox #tbhprefix id="hprefix" name="hprefix" class="form-control" title="공격자 Prefix" placeholder="Prefix"
                    [(ngModel)]="hprefix" [value]="hprefix" [min]="0" [max]="maxPrefix" [autoCorrect]="true" [format]="'n0'">
                  </kendo-numerictextbox>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activeIP">
                <span class="m-list-settings__item-label">
                  대상자
                </span>
                <span class="m-list-settings__item-control">
                  <input #tbVictimIp id="vip" name="vip" class="form-control m-input m-input--air" title="대상자IP" placeholder="IP Address" type="text"
                    [(ngModel)]="vip" />
                  <kendo-numerictextbox #tbvprefix id="vprefix" name="vprefix" class="form-control" title="대상자 Prefix" placeholder="Prefix"
                    [(ngModel)]="vprefix" [value]="vprefix" [min]="0" [max]="maxPrefix" [autoCorrect]="true" [format]="'n0'">
                  </kendo-numerictextbox>
                </span>
              </div>
            </div>
            <div class="m-list-settings__group">
              <div class="m-list-settings__heading">
                <span class="m-list-settings__heading-label">
                  포트정보(대상자)
                </span>
                <span class="m-list-settings__heading-control">
                  <span class="m-switch m-switch--outline m-switch--icon-check m-switch--success">
                    <label>
                      <input type="checkbox" [checked]="activePort" name="" (click)="toggleActivate($event, 'activePort')">
                      <span></span>
                    </label>
                  </span>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activePort">
                <span class="m-list-settings__item-label">
                  시작
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-numerictextbox #tbStartPort id="vport_f" name="vport_f" class="form-control" title="시작포트" [(ngModel)]="startPort"
                    [value]="startPort" [min]="0" [max]="65535" [autoCorrect]="true" [format]="'n0'">
                  </kendo-numerictextbox>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activePort">
                <span class="m-list-settings__item-label">
                  종료
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-numerictextbox #tbEndPort id="vport_t" name="vport_t" class="form-control" title="종료포트" [(ngModel)]="endPort" [value]="endPort"
                    [min]="0" [max]="65535" [autoCorrect]="true" [format]="'n0'">
                  </kendo-numerictextbox>
                </span>
              </div>
            </div>
            <div class="m-list-settings__group">
              <div class="m-list-settings__heading">
                <span class="m-list-settings__heading-label">
                  기타
                </span>
                <span class="m-list-settings__heading-control">
                  <span class="m-switch m-switch--outline m-switch--icon-check m-switch--success">
                    <label>
                      <input type="checkbox" [checked]="activeEtc" name="" (click)="toggleActivate($event, 'activeEtc')">
                      <span></span>
                    </label>
                  </span>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activeEtc">
                <span class="m-list-settings__item-label">
                  차단방법
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-dropdownlist #ddlBlockMode id="method" name="method" class="form-control" title="차단방법" [data]="blockModeListItems"
                    [(ngModel)]="selectedBlockMode" [valueField]="'value'" [textField]="'text'">
                  </kendo-dropdownlist>
                </span>
              </div>
              <div class="m-list-settings__item" *ngIf="activeEtc">
                <span class="m-list-settings__item-label">
                  차단사유
                </span>
                <span class="m-list-settings__item-control">
                  <kendo-dropdownlist #ddlBlockReason id="reason" name="reason" class="form-control" title="차단사유" [data]="blockReasonListItems"
                    [(ngModel)]="selectedBlockReason" [valueField]="'value'" [textField]="'text'">
                  </kendo-dropdownlist>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="m_detail_sidebar_footer" class="modal-footer">
        <button type="button" class="btn btn-danger m-btn m-btn--air" title="초기화" (click)="initFilterPopup($event)">
          초기화
        </button>
        <button type="submit" class="btn btn-primary m-btn m-btn--air" title="확인" (click)="submitApplyFilter($event)">
          확인
        </button>
        <button type="button" class="btn btn-secondary m-btn m-btn--air" title="취소" (click)="closeFilterPopup($event)">
          취소
        </button>
      </div>
    </form>
  </div>
</div>
<!-- end::Quick Sidebar -->
