<div class="modal fade" id="modal-issue-publish">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6ABDC1; border-left: 7px #232c31 solid;">            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">인증서 정보 - <span id="issue_certpath"></span></h4>
            </div>
            <!-- /.modal-header -->
            <!-- <div class="margin-auto" style="width:95%; padding:20px 0px; border:1px red solid;"> -->
            <div class="modal-body">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-xs btn-default" id="btnCertDownload" title="인증서 다운로드" alt="다운로드"><i class="fa fa-download"></i> 인증서 다운로드</a>
                </div>
                <label class="label_add" >인증서 등록정보</label>
                <table class="table table2 table-bordered-1 table-hover table-striped bg_w" id="tblInfo"
                    data-width="100%"
                    data-toggle="table"
                    data-striped="false" 
                    data-pagination ="false"    
                    data-page-size="30"
                    data-page-list="[30, 60, 100]"  
                    data-locale="ko-KR"
                    data-show-columns="false"
                    data-search="false" 
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-export="false"
                    data-smart-display="false"                        
                    data-sort-name="date"
                    data-sort-order="desc"
                >
                    <thead>
                        <tr>
                            <th data-field="kind" 
                                data-halign="center"
                                data-align="center"
                                data-width="250">항목</th>
                            <th data-field="value"
                                data-halign="center"
                                data-align="left">내용</th>
                        </tr>
                    </thead>
                </table>
                <%#
                <table class="table table_2 table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>발급일자</td>
                            <td id="issue_ctime"></td>
                        </tr>            
                        <tr>
                            <td>인증서 일련번호</td>
                            <td id="issue_serial"></td>
                        </tr>
                        <tr>
                            <td>그룹명</td>
                            <td id="issue_tnc"></td>
                        </tr>
                        <tr>
                            <td>객체명</td>
                            <td id="issue_snc"></td>
                        </tr>
                        <tr>
                            <td>기관</td>
                            <td id="issue_on"></td>
                        </tr>
                        <tr>
                            <td>장비코드</td>
                            <td id="issue_dc"></td>
                        </tr>
                        <tr>
                            <td>MAC 주소</td>
                            <td id="issue_ether_addr"></td>
                        </tr>
                        <tr>
                            <td>장비 IP</td>
                            <td id="issue_device_ip"></td>
                        </tr>
                    </tbody>
                </table>
                %>

                <label class="label_add" >Subject</label>
                <table class="table table2 table-bordered-1 table-hover table-striped bg_w" id="tblSubjects"
                    data-width="100%"
                    data-toggle="table"
                    data-striped="false" 
                    data-pagination ="false"    
                    data-page-size="30"
                    data-page-list="[30, 60, 100]"  
                    data-locale="ko-KR"
                    data-show-columns="false"
                    data-search="false" 
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-export="false"
                    data-smart-display="false"                        
                    data-sort-name="date"
                    data-sort-order="desc"
                >
                    <thead>
                        <tr>
                            <th data-field="kind" 
                                data-halign="center"
                                data-align="center"
                                data-width="250"
                                data-formatter="fCSRSubject">항목</th>
                            <th data-field="value"
                                data-halign="center"
                                data-align="left">내용</th>
                        </tr>
                    </thead>
                </table>

                <label class="label_add" >Properties</label>
                <table class="table table2 table-bordered-1 table-hover table-striped bg_w" id="tblProperties"
                    data-width="100%"
                    data-toggle="table"
                    data-striped="false" 
                    data-pagination ="false"    
                    data-page-size="30"
                    data-page-list="[30, 60, 100]"  
                    data-locale="ko-KR"
                    data-show-columns="false"
                    data-search="false" 
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-export="false"
                    data-smart-display="false"                        
                    data-sort-name="date"
                    data-sort-order="desc"
                >
                    <thead>
                        <tr>
                            <th data-field="kind" 
                                data-halign="center"
                                data-align="center"
                                data-width="250"
                                data-formatter="fCSRSubject">항목</th>
                            <th data-field="value"
                                data-halign="center"
                                data-align="left">내용</th>
                        </tr>
                    </thead>
                </table>

                <label class="label_add" >인증서 상세정보</label>
                <!-- <div style=" height: 300px; overflow-y: scroll; border:1px #dddddd solid; margin-bottom: 20px;">                     -->
                <pre id="cert_detail" style="height:300px;"></pre>
                
            </div>
        </div> 
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>  
