<div class="modal fade" id="modal-stix-detail">
    <div class="modal-dialog"><%# modal-lg%>
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6ABDC1; border-left: 7px #232c31 solid;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">상세보기<span id="issue_certpath"></span></h4>
            </div>
            <div class="modal-body">
                <label class="label_add" ></label>
                <table class="table table2 table-bordered-1 table-hover table-striped bg_w" id="tblInfo"
                    data-width="100%"
                    data-toggle="table"
                    data-striped="false"
                    data-pagination ="false"
                    data-page-size="30"
                    data-page-list="[30, 60, 100]"
                    data-locale="ko-KR"
                    data-show-columns="false"
                    data-search="false"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-export="false"
                    data-smart-display="false"
                    data-sort-name="date"
                    data-sort-order="desc"
                >
                    <thead>
                        <tr>
                            <th data-field="key"
                                data-halign="center"
                                data-align="center"
                                data-width="100">항목</th>
                            <th data-field="value"
                                data-halign="center"
                                data-align="left">내용</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
